In [1]:
# Depedencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load 
file_to_load = "..\Assignment\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Assign the unique players
unique_players = purchase_data["SN"].unique
# Display the unique players
unique_players

<bound method Series.unique of 0              Lisim78
1          Lisovynya38
2           Ithergue48
3        Chamassasya86
4            Iskosia90
5              Yalae81
6            Itheria73
7          Iskjaskst81
8            Undjask33
9          Chanosian48
10           Inguron55
11        Haisrisuir60
12        Saelaephos52
13         Assjaskan73
14         Saesrideu94
15           Lisassa64
16           Lisirra25
17           Zontibe81
18           Reunasu60
19           Chamalo71
20        Iathenudil29
21       Phiarithdeu40
22        Siarithria38
23            Eyrian71
24             Siala43
25           Lisirra87
26          Lirtossa84
27             Eusri44
28              Aela59
29             Tyida79
            ...
750           Iljask75
751        Lisjaskan36
752      Mindjasksya61
753     Frichirranya75
754    Pheosurllorin41
755           Raesty92
756            Ilast79
757          Eratiel90
758             Iral74
759        Tyaelorap29
760         Aithelis62
761            Assim27
762             Asur53
763       Lassilsala30
764       Saedaiphos46
765            Irith83
766       Aelastirin39
767            Ilmol66
768       Assassasta79
769          Ilosian36
770         Lirtosia63
771       Iskossasda43
772             Asur53
773             Hala31
774         Jiskjask80
775         Aethedru70
776             Iral74
777         Yathecal72
778            Sisur91
779          Ennrian78
Name: SN, Length: 780, dtype: object>

In [4]:
# count the number of unique players
number_of_unique_players = len(purchase_data["SN"].unique())
number_of_unique_players

576

In [5]:
# create a data frame in order to show the total players
total_df = pd.DataFrame({"Total Players": [number_of_unique_players]})
total_df["Total Players"] = total_df["Total Players"].map("{:<}".format)
total_df

  Total Players
0           576

In [6]:
# compute number of unique items, average price, number of purchases and total revenue
# number of unique items
unique_items = len(purchase_data["Item ID"].unique())

# number of purchases
num_of_purchases = len(purchase_data)

# average price 
ave_price = purchase_data["Price"].mean()

#total revenue 
total_revenue = sum(purchase_data["Price"])

In [7]:
# Data Frame for purchasing analysis information
purchasing_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[ave_price], "Number of Purchases":[num_of_purchases],"Total Revenue":[total_revenue]})
purchasing_df["Number of Unique Items"] = purchasing_df["Number of Unique Items"].map("{:<}".format)
purchasing_df["Average Price"] = purchasing_df["Average Price"].map("${:<.2f}".format)
purchasing_df["Number of Purchases"] = purchasing_df["Number of Purchases"].map("{:<}".format)
purchasing_df["Total Revenue"] = purchasing_df["Total Revenue"].map("${:<,.2f}".format)
purchasing_df

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    183         $3.05                 780     $2,379.77

In [20]:
# Gender Demographics
# Drop the duplicates in column SN
gender_group = purchase_data.drop_duplicates('SN')
gender_count = gender_group["Gender"].value_counts
#gender_count()

In [9]:
# gender count to data frame
gender_df = pd.DataFrame(gender_count())
#gender_df

In [10]:
# get the percentage per gender and add to the gender Count
# rename the column Gender to Total Count
gender_perct = gender_df["Gender"]/number_of_unique_players
gender_df["Percent of Players"] = gender_perct

gender_df_renamed = gender_df.rename(columns={"Gender": "Total Count"})
gender_df_renamed.head()

                       Total Count  Percent of Players
Male                           484            0.840278
Female                          81            0.140625
Other / Non-Disclosed           11            0.019097

In [11]:
# Purchasing Analysis (Gender)
pur_count_df = purchase_data[["Purchase ID", "Gender"]]
pur_count = pur_count_df["Gender"].value_counts()
#pur_count

In [12]:
# Create a data frame for the Analysis
pur_gender = pd.DataFrame(pur_count)
#pur_gender

In [13]:
# Get data that is grouped by Gender
group_gender_df = purchase_data.groupby(["Gender"])

# get the average purchase per gender and add to the data frame
ave_pur_gender = group_gender_df["Price"].mean()
pur_gender["Average Purchase Price"] = ave_pur_gender

# get the total purchase value and add to the data frame
tot_pur_gender = group_gender_df["Price"].sum()
pur_gender["Total Purchase Value"] = tot_pur_gender

# rename the column
pur_gender_renamed = pur_gender.rename(columns={"Gender": "Total Count"})
pur_gender_renamed
#avg_tot_person = 
#pur_gender

,Total Count,Average Purchase Price,Total Purchase Value
Male,652,3.017853,1967.64
Female,113,3.203009,361.94
Other / Non-Disclosed,15,3.346000,50.19

In [14]:
# Get data taht is group per person
# group_per_person = purchase_data.groupby(["SN","Gender"])
# ave_tot_person = group_per_person["Price"].mean()
# ave_tot_person_df = pd.DataFrame(ave_tot_person)
# ave_tot_group_df = ave_tot_person_df.groupby(["Gender"])
# average_per_person = ave_tot_group_df["Price"].mean()
# average_per_person
# add to the data frame that is group by gender
#group_gender_df["Pur Person"] = ave_tot_person

In [15]:
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [16]:
# Create bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]

# names for the bins
bin_names = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#purchase_data["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)
#purchase_data
pd.cut(gender_group["Age"], bins, labels=bin_names).head()

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [17]:
# Place the data series into a new column inside of the DataFrame
gender_group["Total Count"] = pd.cut(gender_group["Age"], bins, labels=bin_names)
gender_group.head()

C:\Users\geofr\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [18]:
# Create a GroupBy object based upon "View Group"
purchase_data_group = gender_group.groupby("Total Count")

# Find how many rows fall into each bin
print(purchase_data_group["SN"].count())

# Get the average of each column within the GroupBy object
purchase_data_group[["Price"]].count()

Total Count
<10       24
10-14     41
15-19    150
20-24    232
25-29     59
30-34     37
35-39     26
40+        7
Name: SN, dtype: int64

             Price
Total Count
<10             24
10-14           41
15-19          150
20-24          232
25-29           59
30-34           37
35-39           26
40+              7